
@import 'custom.scss';
@import '_globals.scss';


.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;  
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}
$colors: (
   Soft Cyan: hsl(174, 77%, 80%),
   Strong Cyan: hsl(174, 86%, 45%),
   Light Grayish Red (Discount Background): hsl(14, 92%, 95%),
   Light Red (Discount Text): hsl(15, 100%, 70%),
   Pale Blue (CTA Text): hsl(226, 100%, 87%),
   White (Pricing Component Background): hsl (0, 0%, 100%),
   Very Pale Blue (Main Background): hsl(230, 100%, 99%),
   Light Grayish Blue: hsl(224, 65%, 95%),
   Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%),
   Grayish Blue (Text): hsl(225, 20%, 60%),
   Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%),
);
$fallback-colors: (
   #99FFFF #66FFFF #FFCC99 #FF6666 #F0F8FF #FFF #F0FFFF #D3D3D3 #ADD8E6 #87CEFA #4682B4
);
$children: first,second,third,fourth;

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}

@mixin width($grid-size) {
  width: $grid-size * 1px;
}
@mixin max-width($grid-size) {
  max-width: $grid-size * 1px;
}
@mixin min-width($grid-size) {
  min-width: $grid-size * 1px;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}
@mixin track() { 
  -webkit-appearance: none;
  background: transparent;
  width: 350px;
  height: 0.5rem;
  background-color: map-get($colors,Light Grayish Blue);
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font{
     size: $font_size-15;
     weight: $font_weight-normal;
	 family: 'Manrope', sans-serif;
  }
}
.border{
  border: 4px solid red;
}
main {
    @include width($container__form-xs);
	height: 100%;
	@include margin(100px auto);
	background: url(./images/pattern-circles.svg) top center/30% 30% no-repeat,url(./images/bg-pattern.svg) top center/100% 65% no-repeat;
	#header{
	   h1{
	     font-weight: $font_weight-semibold * 1.2;
	   }
	   h2{
	     font-size: $font_size-15;
		 //dark desaturated blue hsl value used.
		 @include font-color(lighten(grayscale(hsl(227, 35%, 25%)),40),nth($fallback-colors,11));
	   }
	}
    .outer{
	   @include bg-color(map-get($colors,White),nth($fallback-colors,6));
	   @include width(325);
	   @include margin(25px auto);
	   @include border-radius(15px);
	   box-shadow: 0 0 8px 8px #eaeefb;
	   font-weight: $font_weight-semibold;
	   @include font-color(lighten(grayscale(hsl(227, 35%, 25%)),40),nth($fallback-colors,11));
	   
	   @each $child in $children {
           &__#{$child} {
		     @include margin(50px auto);
			 @media screen and(min-width:$container__form-xxl * 1px){
			    @include margin(100px auto);
			 }
           }
         }
	   &__first{
	      span{
		    //font-weight: $font_weight-semibold * 0.6;
		  }
	      #price{
		     font-size: $font_size-15 * 2.6;
	         font-weight: $font_weight-extrabold * 1.2;
			 @include font-color(grayscale(hsl(227, 35%, 25%)),nth($fallback-colors,11));
		  }
	   }
	   &__second{
	      /*the slider section*/
		  
	      width: 100%;
	      input[type="range"] {
	         /*Safari, Edge, Opera, Brave,Chrome removes browsers default appearance with -webkit*/
             webkit-appearance: none;
             appearance: none;
             cursor: pointer;
			 width:100%;
			 background-color:map-get($colors,Light Grayish Blue);
			 &::-webkit-slider-runnable-track{
			    webkit-appearance: none;
				color: map-get($colors,Light Grayish Blue);
                height: 0.5rem;
				margin-top:-1px;
			 }
			 &::-webkit-slider-thumb {
			    -webkit-appearance: none;
                appearance: none;
                width: 35px;
                height: 35px;
                border-radius: 50%;
				position:relative;
				bottom:20px;
			    background-image:url(./images/icon-slider.svg);
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				background-color: map-get($colors,Soft Cyan);
				box-shadow: 0 6px 6px 0 Cyan;
				&:not(:active){
				  filter: contrast(200%);
				}
				&:active{
				   background-color: map-get($colors,Strong Cyan);
				}
				@media screen and(min-width: $container__form-xxl * 1px){
				   width: 50px;
                   height: 50px;
				}
			 }
			 
			 /* The following only affects the range input in IE */
			 &::-ms-thumb {
			   -webkit-appearance: none;
                appearance: none;
                width: 35px;
                height: 35px;
                border-radius: 50%;
				position:relative;
				bottom:20px;
			    background-image:url(./images/icon-slider.svg);
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				background-color: map-get($colors,Soft Cyan);
				box-shadow: 0 6px 6px 0 Cyan;
				&:not(:active){
				  filter: contrast(200%);
				}
				&:active{
				   background-color: map-get($colors,Strong Cyan);
				}
				@media screen and(min-width: $container__form-xxl * 1px){
				   width: 50px;
                   height: 50px;
				}
			 }
			 &::-ms-track {
			    webkit-appearance: none;
				color: transparent;
                height: 0.5rem;
				margin-top:-1px;
			 }
			 /* The following only affects the range input in FF */
             &::-moz-range-track { 
                /*the upper range*/			 
                webkit-appearance: none;
				color: map-get($colors,Light Grayish Blue);
                height: 0.5rem;
				margin-top:-1px;
             }
			 &::-moz-range-thumb {
			    -webkit-appearance: none;
                appearance: none;
                width: 35px;
                height: 35px;
                border-radius: 50%;
				position:relative;
				bottom:20px;
			    background-image:url(./images/icon-slider.svg);
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				background-color: map-get($colors,Soft Cyan);
				box-shadow: 0 6px 6px 0 Cyan;
				&:not(:active){
				  filter: contrast(200%);
				}
				&:active{
				   background-color: map-get($colors,Strong Cyan);
				}
				@media screen and(min-width: $container__form-xxl * 1px){
				   width: 50px;
                   height: 50px;
				}
			 }
			 @media screen and(min-width:$container__form-xxl * 1px){
			    width: 730px;
			 }
          }
	   
		  
	   }
	   
	   &__third{
	      /*the annual/month toggle button section*/
	      height: 20px;
		  
		  .toggle__wrapper{
		     display: inline-flex;
			 background: map-get($colors,Light Grayish Blue);
	         width: 80px;
	         height:40px;
	         border-radius: 35px;
			 input[type="radio"]{
		        display: inline-flex;
	            width: 40px;
	            height: 40px;
	            opacity: 0 ;
				&:focus ~ .toggle__slider {
			      cursor:pointer;
		        }
		     }
			 
	         position: relative;
			 /*User toggles the toggle button , check if the annual option is selected..., if it is , toggle button should be left aligned with left:40px*/
             #annual:checked ~ .toggle__slider {
	            left: 40px;
             }
             /*User toggles the toggle button (check if the monthly option is selected, if it is, toggle button should be left aligned with left:0*/
             #monthly:checked ~ .toggle__slider{
	            left:0;
             }
		     .toggle__slider{
			     display: inline-flex;
	             position: absolute;
	             top: 5px;
	             left: 5px;
				 @including padding(5px);
	             width: 30px;
	             height: 30px;
	             border-radius: 50%;
				 @include bg-color(map-get($colors,White),nth($fallback-colors,6));
			 }
		  }
		  #discount{
		     @include border-radius(5px);
			 @include padding(5px);
			 @include bg-color(lighten(hsl(15, 100%, 70%),20),nth($fallback-colors,3));
		     @include font-color(map-get($colors,Light Red),nth($fallback-colors,4));
		  }
	   }
	   &__fourth{
	      //section with 'start my trial' button
          border: none; 
          border-top: 2px solid gainsboro;  
          ul{
		     list-style:none;
		  }
		  ul li:before {
             content: '✓';
			 margin-right: 20px;
			 @include font-color(map-get($colors,Soft Cyan),nth($fallback-colors,1));
          }
		  #trialBtn{
		     @include border-radius(20px);
		     @include bg-color(darken(hsl(227, 35%, 25%),4),nth($fallback-colors,11));
			 @include font-color(map-get($colors,Pale Blue),nth($fallback-colors,5));
			 &:focus{
			    @include font-color(map-get($colors,White),nth($fallback-colors,6));
				@include bg-color(darken(hsl(227, 35%, 25%),4),nth($fallback-colors,11));
				cursor:pointer;
			 }
		  }
	   }
	   @media screen and(min-width:$container__form-xxl * 1px){
	      @include width(750);
		  @include margin(50px auto);
	   }
	}
    @media screen and (min-width: $container__form-xxl * 1px) {
       @include width($container__form-xxl);
	   background: url(./images/pattern-circles.svg) (50% 15%)/(15% 15%) no-repeat,url(./images/bg-pattern.svg) top right/100% 50% no-repeat;
	   @include padding(150px);
	   @include margin(auto);
	   height:fit-content;
    }
  
}

footer {
  .attribution {
    font-size: $font_size-8;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
